.direnv
*__pycache__
*generate_*.py
*drafts
*colab
*chunk_*.txt
*.chroma
*.pytest_cache
*models
*data
!chapter1_transformer_interp/exercises/part5_function_vectors_and_model_steering/data
*wandb
*videos
*logs
secrets.toml
*attn_only_2L_half.pth
*part6_othellogpt/othello_world
*part8_grokking_and_modular_arithmetic/Grokking
*interp_on_model*.ipynb
*interp_on_model*.py
*other_solns
*.vscode
*part4_rlhf2
*stats.md
chapter1_transformer_interp/instructions/media/media
my_regex.py
id_rsa
id_rsa.pub
october23_duplicate_zeros
january24_arena
*ignore.ipynb
changes.md
torch-2.2.2+cu121-cp311-cp311-win_amd64.whl
torch-2.4.0+cu121-cp311-cp311-win_amd64.whl
chapter1_transformer_interp/exercises/part1_transformer_from_scratch/answers_part1.ipynb
chapter1_transformer_interp/exercises/part1_transformer_from_scratch/answers_take2.ipynb
chapter1_transformer_interp/exercises/part3_indirect_object_identification/answers_ioi.ipynb
chapter1_transformer_interp/exercises/part4_superposition_and_saes/answer.ipynb
chapter1_transformer_interp/exercises/part4_superposition_and_saes/answers_S7.ipynb
